{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">
    <!-- слайдер -->
    <!--<section class="slider">
        <div class="container">
            <div id="carousel-indicators" class="carousel slide" data-bs-theme="dark" data-bs-ride="carousel"
                 data-bs-interval="5000">
                <div class="carousel-indicators">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-indicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="0"
                            class="btn-dot active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="1"
                            class="btn-dot" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="2"
                            class="btn-dot" aria-label="Slide 3"></button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-indicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'images/slider/1.png' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="carousel-text">
                                    <h5>Golden Soft GS-200Z-5 для офиса</h5>
                                    <div class="carousel-desc">
                                        <p>Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный
                                            глянцевый
                                            блеск, четкие линии, красивые формы.</p>
                                    </div>
                                    <div class="carousel-price">
                                        <strong>33 000₽</strong>
                                        <del>37 000₽</del>
                                        <p class="carosel-btn">
                                            <a href="#" class="btn btn-primary">Купить</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'images/slider/2.png' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="carousel-text">
                                    <h5>Golden Soft GS-200Z-5 для квартиры</h5>
                                    <div class="carousel-desc">
                                        <p>Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный
                                            глянцевый
                                            блеск, четкие линии, красивые формы.</p>
                                    </div>
                                    <div class="carousel-price">
                                        <strong>33 000₽</strong>
                                        <del>37 000₽</del>
                                        <p class="carosel-btn">
                                            <a href="#" class="btn btn-primary">Купить</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'images/slider/3.png' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="carousel-text">
                                    <h5>Golden Soft GS-200Z-5 универсальный</h5>
                                    <div class="carousel-desc">
                                        <p>Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный
                                            глянцевый
                                            блеск, четкие линии, красивые формы.</p>
                                    </div>
                                    <div class="carousel-price">
                                        <strong>33 000₽</strong>
                                        <del>37 000₽</del>
                                        <p class="carosel-btn">
                                            <a href="#" class="btn btn-primary">Купить</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <!-- Счётчик -->
    <!--<section class="achievments">
        <div class="container">
            <div class="row gy-5">

                <div class="col-md-3 col-6 counter">
                    <h3 class="counter-num">5,567</h3>
                    <span>Счастливых клиентов</span>
                </div>

                <div class="col-md-3 col-6 counter">
                    <h3 class="counter-num">1,245</h3>
                    <span>Продуктов на выбор</span>
                </div>

                <div class="col-md-3 col-6 counter">
                    <h3 class="counter-num">372</h3>
                    <span>Продаж в день</span>
                </div>

                <div class="col-md-3 col-6 counter">
                    <h3 class="counter-num">20</h3>
                    <span>Лет на рынке</span>
                </div>

            </div>
        </div>
    </section>-->

    <!-- why-us -->
    <!--<section class="why-us">
        <div class="container">

            <h1>Почему GoldenService?</h1>

            <div class="row row-gap-4">

                <div class="col-md-4">
                    <div class="why-us-card">
                        <img src="{% static 'images/icons/evaluate.svg' %}" alt="">
                        <p>Возврат удвоенной стоимости каждого замка в случае брака</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="why-us-card">
                        <img src="{% static 'images/icons/return.svg' %}" alt="">
                        <p>Наносим ваш логотип компании на наш продукт</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="why-us-card">
                        <img src="{% static 'images/icons/repair.svg' %}" alt="">
                        <p>Установка, обслуживание и гарантия в течение 3-х лет</p>
                    </div>
                </div>

            </div>

        </div>
    </section>-->

    <section class="main-categories">

        <div class="container">

            <h2>{{category}}</h2>

            <div class="row row-gap-4">
                {% for product in products %}
                <div class="col-6">
                    <div class="main-categories-card">
                        <a href="{% url 'catalog:product_detail' pk=product.pk %}">
                            <div class="main-categories-card-thumb">
                        {% if product.photo %}
                            <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="img-fluid w-100">
                        {% else %}
                            <img src="{% static 'images/no-photo.jpeg' %}" alt="Нет фото" class="img-fluid w-100">
                        {% endif %}                            </div>
                        </a>

                        <div class="main-categories-card-desc">
                            <h3>{{product.name}}</h3>
                            <p>{{product.description}}</p>
                            <a href="{% url 'catalog:product_detail' pk=product.pk %}" class="btn btn-outline-dark">Перейти</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--<div class="col-6">
                    <div class="main-categories-card">
                        <a href="#">
                            <div class="main-categories-card-thumb">
                                <img src="{% static 'images/categories/6.png' %}" alt="">
                            </div>
                        </a>

                        <div class="main-categories-card-desc">
                            <h3>Для шкафчиков</h3>
                            <a href="#" class="btn btn-outline-dark">Перейти</a>
                        </div>
                    </div>
                    <h3 class="main-categories-add-title">Для шкафчиков</h3>
                </div>

                <div class="col-6">
                    <div class="main-categories-card">
                        <a href="#">
                            <div class="main-categories-card-thumb">
                                <img src="{% static 'images/categories/3.png' %}" alt="">
                            </div>
                        </a>

                        <div class="main-categories-card-desc">
                            <h3>Для офисов</h3>
                            <a href="#" class="btn btn-outline-dark">Перейти</a>
                        </div>
                    </div>
                    <h3 class="main-categories-add-title">Для офисов</h3>
                </div>

                <div class="col-6">
                    <div class="main-categories-card">
                        <a href="#">
                            <div class="main-categories-card-thumb">
                                <img src="{% static 'images/categories/4.png' %}" alt="">
                            </div>
                        </a>

                        <div class="main-categories-card-desc">
                            <h3>Замки для дома</h3>
                            <a href="#" class="btn btn-outline-dark">Перейти</a>
                        </div>
                    </div>
                    <h3 class="main-categories-add-title">Для офисов</h3>
                </div>-->
                {% if not all_products %}
                <p class="text-center">
                    <a href="{% url 'catalog:main' %}" class="btn btn-primary main-all-ategories">
                    Показать все товары</a>
                </p>
                {% endif %}

            </div>

        </div>

    </section>

    <!--<section class="main-our-products">

        <div class="container">

            <div class="main-our-products-top">
                <h2>Популярные продукты</h2>

                <div class="slider-btn-wrap">
                    <span class="prev-btn"><i class="fa-solid fa-chevron-left"></i></span>
                    <span class="next-btn"><i class="fa-solid fa-chevron-right"></i></span>
                </div>
            </div>

            <div class="owl-carousel owl-theme">

                <div class="product-card item">
                    <div class="product-card-offer">
                        <div class="in-stock">
                            <i class="fa-solid fa-check"></i>
                            <span>В наличии</span>
                        </div>
                        <div class="in-sale">sale</div>
                    </div>
                    <div class="product-card-thumb">
                        <a href="#"><img src="{% static 'images/categories/1.png' %}" alt=""></a>
                    </div>
                    <div class="product-card-details">
                        <h4 class="product-card-title"><a href="#">Дверной Замок Golden Soft для отеля</a></h4>
                        <div class="product-card-details-bottom">
                            <div class="product-card-price">
                                33 000₽
                                <del>37 000₽</del>
                            </div>
                            <div class="product-card-btns">
                                <a href="#" class="btn btn-outline-secondary add2cart"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card item">
                    <div class="product-card-offer">
                        <div class="not-in-stock">
                            <i class="fa-solid fa-check"></i>
                            <span>Нет наличии</span>
                        </div>
                    </div>
                    <div class="product-card-thumb">
                        <a href="#"><img src="{% static 'images/categories/6.png' %}" alt=""></a>
                    </div>
                    <div class="product-card-details">
                        <h4 class="product-card-title"><a href="#">Дверной Замок Golden Soft для отеля, для
                            офиса,
                            для квартиры и вообще для всего</a></h4>
                        <div class="product-card-details-bottom">
                            <div class="product-card-price">
                                33 000₽
                                <del>37 000₽</del>
                            </div>
                            <div class="product-card-btns">
                                <a href="#" class="btn btn-outline-secondary add2cart"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card item">
                    <div class="product-card-offer">
                        <div class="in-stock">
                            <i class="fa-solid fa-check"></i>
                            <span>В наличии</span>
                        </div>
                    </div>
                    <div class="product-card-thumb">
                        <a href="#"><img src="{% static 'images/categories/3.png' %}" alt=""></a>
                    </div>
                    <div class="product-card-details">
                        <h4 class="product-card-title"><a href="#">Дверной Замок Golden Soft для отеля, для
                            офиса,
                            для квартиры и вообще для всего</a></h4>
                        <div class="product-card-details-bottom">
                            <div class="product-card-price">
                                33 000₽
                                <del>37 000₽</del>
                            </div>
                            <div class="product-card-btns">
                                <a href="#" class="btn btn-outline-secondary add2cart"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card item">
                    <div class="product-card-offer">
                        <div class="in-stock">
                            <i class="fa-solid fa-check"></i>
                            <span>В наличии</span>
                        </div>
                        <div class="in-sale">sale</div>
                    </div>
                    <div class="product-card-thumb">
                        <a href="#"><img src="{% static 'images/categories/4.png' %}" alt=""></a>
                    </div>
                    <div class="product-card-details">
                        <h4 class="product-card-title"><a href="#">Дверной Замок Golden Soft для отеля, для
                            офиса,
                            для квартиры и вообще для всего</a></h4>
                        <div class="product-card-details-bottom">
                            <div class="product-card-price">
                                33 000₽
                                <del>37 000₽</del>
                            </div>
                            <div class="product-card-btns">
                                <a href="#" class="btn btn-outline-secondary add2cart"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card item">
                    <div class="product-card-offer">
                        <div class="in-stock">
                            <i class="fa-solid fa-check"></i>
                            <span>В наличии</span>
                        </div>
                        <div class="in-sale">sale</div>
                    </div>
                    <div class="product-card-thumb">
                        <a href="#"><img src="{% static 'images/categories/5.png' %}" alt=""></a>
                    </div>
                    <div class="product-card-details">
                        <h4 class="product-card-title"><a href="#">Дверной Замок Golden Soft для отеля, для
                            офиса,
                            для квартиры и вообще для всего</a></h4>
                        <div class="product-card-details-bottom">
                            <div class="product-card-price">
                                33 000₽
                                <del>37 000₽</del>
                            </div>
                            <div class="product-card-btns">
                                <a href="#" class="btn btn-outline-secondary add2cart"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card item">
                    <div class="product-card-offer">
                        <div class="in-stock">
                            <i class="fa-solid fa-check"></i>
                            <span>В наличии</span>
                        </div>
                        <div class="in-sale">sale</div>
                    </div>
                    <div class="product-card-thumb">
                        <a href="#"><img src="{% static 'images/categories/7.png' %}" alt=""></a>
                    </div>
                    <div class="product-card-details">
                        <h4 class="product-card-title"><a href="#">Дверной Замок Golden Soft для отеля, для
                            офиса,
                            для квартиры и вообще для всего</a></h4>
                        <div class="product-card-details-bottom">
                            <div class="product-card-price">
                                33 000₽
                                <del>37 000₽</del>
                            </div>
                            <div class="product-card-btns">
                                <a href="#" class="btn btn-outline-secondary add2cart"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>-->

    <section class="main-callback">
        <div class="container">
            <div class="row">

                <div class="col-md-8 offset-md-2">

                    <h2>Мы Вам перезвоним</h2>
                    <p class="text-center">Если у вас возникли какие-то вопросы или проблемы, заполните форму и
                        мы Вам
                        перезвоним.</p>

                    <form>
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="form-control" placeholder="Ваше имя">
                            </div>

                            <div class="col-lg-4">
                                <input type="text" class="form-control phone-mask" placeholder="Ваш телефон">
                            </div>

                            <div class="col-lg-4">
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>

</main>
{% endblock %}
