{% load static %}

<nav class="navbar navbar-expand-lg top-navbar sticky-top">
        <div class="container">

            <div>
                <div class="navbar-brand" href="index.html">
                    <img src="{% static 'images/logo.svg' %}" alt="">
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>


            <div class="offcanvas offcanvas-start" id="offcanvasNavbar">

                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav me-lg-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Выберите категорию
                            </a>
                            <div class="container dropdown-menu megamenu" role="menu">
                                <div class="row g-3">
                                    <div class="col-lg-3">
                                        <ul class="list-unstyled">
                                            {% for c in categories %}
                                            <li><a href="{% url 'catalog:main_with_select_category' slug=c.slug %}">{{c.name}}</a></li>
                                            {% endfor %}
<!--                                            <li><a href="#">Замки для квартиры</a></li>-->
<!--                                            <li><a href="#">Замки для дома</a></li>-->
<!--                                            <li><a href="#">Замки для отелей</a></li>-->
<!--                                            <li><a href="#">Замки для офиса</a></li>-->
<!--                                            <li><a href="#">Замки для шкафчиков</a></li>-->
                                        </ul>
                                    </div>

                                    <!--
                                    <div class="col-lg-3">
                                        <h6 class="title">Механические замки</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Врезные замки</a></li>
                                            <li><a href="#">Замки для квартиры</a></li>
                                            <li><a href="#">Замки для дома</a></li>
                                            <li><a href="#">Замки для отелей</a></li>
                                        </ul>
                                    </div>&lt;!&ndash; end col-3 &ndash;&gt;
-->


                                </div>
                            </div> <!-- dropdown-mega-menu.// -->
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="category.html">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product.html">Product</a>
                        </li>-->
                    </ul>

                    <div class="mobile-phones d-block d-lg-none">
                        <ul>
                            <li class="mobile-phones-phone">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+12345678900">+1(234)56 78 900</a>
                            </li>
                            <li class="mobile-phones-callback">
                                <a href="#">Обратный звонок</a>
                            </li>
                        </ul>
                    </div><!-- ./mobile-phones -->

                </div><!-- ./offcanvas-body -->

            </div><!-- ./offcanvas -->

            <div class="navbar-side">
                <ul>
                    <li class="navbar-phone">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+12345678900">+1(234)56 78 900</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa-regular fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a href="#" class="dropdown-item">Регистрация</a></li>
                            <li><a href="#" class="dropdown-item">Авторизация</a></li>
                            <li><a href="#" class="dropdown-item">Личный кабинет</a></li>
                        </ul>
                    </li>
                </ul>

                <form action="" class="search-form">
                    <input class="form-control" type="text" name="s" placeholder="Поиск товара..." required>
                    <button id="search-form-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

            </div><!-- ./navbar-side -->

        </div>
    </nav>

